html, body {
    background-color: black;
    color: white;
    font-family: 'IBM Plex Sans';
    margin: 0;
    height: 100%;
    display: grid;
}

.layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.video-center {
    position: absolute;
    top: 0; left: 0; width: 100%; height: 100%;
    display: flex; justify-content: center; align-items: center;
}

video {
    transition: transform 0.5s ease-in-out;
    transition: filter 0.8s ease;
}

.timeline {
    width: 1280px;
    height: 50px;
    background-color: blue;
}

.display {
    background-color: rgba(137,162,256, 0.25);
    margin: auto;
    color: #fff;
    text-align: center;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.display-text {
    font-family: 'IBM Plex Sans';
    font-size: 30px;
    font-weight: 300;
    padding: 10px 10px;
    color: #b0bef3;
}

.display-text em {
    font-style: normal;
    font-weight: 300;
    color: #fff;
}

.debug {
    position: absolute;
    top: 10px; left: 10px;
    font-family: 'IBM Plex Mono';
    font-size: 20px;
    white-space: pre-line;
}

.video-container {
    position: relative;
    width: 1280px;
    height: 720px;
}
